<!-- 
    Attempts to display an image centered on the page.
    If the image file is not found, displays a placeholder image instead.
-->
{% assign Image_Path = "/images/" | append: page.image_dir | append: "/" | append: include.file %}
{% assign Fallback_Path = "/images/testing/Technical Difficulties.jpg" %}

<div style="text-align:center;">
    <figure>
        <img src="{{ Image_Path | relative_url }}" alt="{{ include.alt | escape }}"
            onerror="this.onerror=null; this.src='{{ Fallback_Path | relative_url }}';">

        {% if include.caption %}
        <figcaption>{{ include.caption }}</figcaption>
        {% endif %}
    </figure>
</div>